@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Custom colors, classes, etc. */
.bg-blue-600 {
    background-color: #1199fa;
}

html,
body {
    font-family: 'Mabry Pro', 'Poppins', 'Inter', 'Dosis', sans-serif !important;
}

.header-market {
    position: fixed;
    top: 0;
    left: 0;
    height: 1.36rem;
    width: 100%;
    background: #010117;
    padding: 2.2rem 1.5rem;
    z-index: 11;
}

.marginTop-header {
    padding-top: 6rem;
}

.categories {
    width: calc(100% - 0.48rem);
    height: max-content;
    margin: auto;
    padding-block: 8px;
    margin-bottom: 20px;
    background: rgb(17, 153, 250);
    border-radius: 1rem;
    overflow-y: auto;
}

.search-modal {
    background-color: rgb(31 35 51 / var(--tw-bg-opacity, 1));
    border-radius: 2.5rem;
}

.borrow-pt {
    padding-block: 5rem;
    overflow-y: scroll;
}

.verification {
    background-color: #010117;
}

.verification input,
.verification option,
.verification select,
.verification textarea,
.verification div {
    background-color: #010117;
}

.scroller {
    height: 90px;
}

.category-button {
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 0.52rem;
    color: rgb(0, 0, 0);
    font-family: "Mabry Pro";
    padding-block: 16px;
}
.text-gray-400{
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* height: 0.38rem; */
    display: flex;

}
.category-button.active {
    background: rgb(0, 0, 0);
    border-radius: 0.46rem;
    color: rgb(17, 153, 250);
    padding-block: 6px;
}
.flex.text-gray-400.text-sm.px-4.py-2{
    font-family: "Mabry Pro";
    color: white;
}
.currency-sign{
    color: rgb(58, 61, 255) !important;
    font-size: .6rem;
}
.smart-trading-modal .text-blue-100, .smart-trading-modal .font-semibold.text-white{
    font-family: "Mabry Pro";
   color: rgb(0, 0, 0);
}
.smart-trading-modal .contents{
    font-family: poppins;
    font-weight: 200;
    color: black;
}
.lucide.lucide-search{
    font-size: 32px;
    height: 24px !important;
}
.text-gray-400{
    height: unset !important;
}
.card-font{
    font-family: "Mabry Pro";
}
.icon-row{
    width: 2rem;
}
.icon-row img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}