@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your main CSS file (e.g., index.css) */
.custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.bg-blue-600{
    background-color: #1199fa;
}
.header-market{
    position: fixed;
    top: 0;
    left: 0;
    height: 1.36rem;
    width: 100%;
    background: #010117;
    padding: 1.82rem 1rem;
    z-index: 11;

}
.marginTop-header{
    padding-top: 6rem;
}
.categories{
    width: calc(100% - 0.48rem);
    height: max-content;
    margin: auto;
    padding: 0.08rem 0px;
    background: rgb(17, 153, 250);
    border-radius: 0.6rem;
    overflow-y: auto;
}
.search-modal{
        background-color: rgb(31 35 51 / var(--tw-bg-opacity, 1));
        border-radius: 2.5rem;
}
.borrow-pt{
    padding-block: 5rem;
    overflow-y: scroll;
}
.verification{
background-color: #010117;
}
.verification input, .verification option, .verification select, .verification textarea, .verification div{
    background-color: #010117;
}
.scroller{
    height: 90px;
}
.category-button{
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 0.52rem;
    color: rgb(0, 0, 0);
}
.category-button.active{
        background: rgb(0, 0, 0);
    border-radius: 0.46rem;
    color: rgb(17, 153, 250);
    margin: 10px;
}